@media(max-width:960px) {
	.display--flex.content-strip {
		flex-wrap: wrap;
	}
	.content-strip__content--half {
		width:100%;
		padding: 50px;
	}
	.three-card {
		flex-wrap: wrap;
	}
	.card.card--three {
		width: 100%;
		max-width: none;
		flex: unset;
		margin-bottom: 50px;
	}
	.three-card .card.card--three:last-of-type {
		margin-bottom: 0;
	}
}

@media(max-width: 900px) {
	.homepage-splash img {
		display: none;
	}
}

@media(max-width: 800px) {

	.row-image-text {
		flex-wrap: wrap;
	}

	.row-image-text__text, .row-image-text__image-wrap {
		flex: 1 1 auto;
	}

	.row-image-text__text {
		order: 2;
		padding:0;
	}

	.container {
	    width: 75%;
	    max-width: 500px;
	}

	footer a {
	    display: block;
	    margin: 20px 0;
	}

	.homepage-splash__text,
	.contact-splash__text {
		width:333px;
	}

	.homepage-splash__header--h1,
	.contact-splash__header--h1 {
		font-size:3.33em;
	}

	.contact-splash__header--h2,
	.portfolio-splash__header--h2 {
		font-size:0.7em;
	}

}